<app-header  header="Instrucciones"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col offset="3" size="6">
        <ion-card>
          <ion-card-content class="card_content">
            Durante el curso de las historias, habrá momentos en los que necesitarás tomar decisiones para poder continuar. Da clic en la opción que se parezca más a lo que tú harías en cada caso.
<br>
<br>
También encontrarás diferentes acciones para interactuar con los dispositivos que aparecen a lo largo de las historias. Da clic en donde te indica el cursor para que puedas avanzar.
          </ion-card-content>
          <div class="ion-text-center">
            <ion-button (click)="firstVideo(id)" color="dark" >
              Aceptar
            </ion-button>
          </div>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
