.a_encuesta{
  text-align: center;
  background-color: rgb(69, 224, 152);
  padding: 8px;
  text-decoration: none;
  border-radius: 10px;
  color: black;
}
.a_encuesta:hover{
  background-color: rgb(46, 196, 107);
}
