<ion-content [fullscreen]="true" class="background-opts" [ngStyle]="background">
	<ion-header class="ion-no-border">
		<ion-toolbar>
			<ion-buttons slot="start">
				<ion-menu-button></ion-menu-button>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>
	<ion-grid class="ion-padding-horizontal">
		<ion-row class="ion-padding-vertical">
			<ion-col size="8" class="ion-padding-vertical">
				<h1 class="title">Be health Lab</h1>
				<ion-text class="mb">Aplicacion para detectar casos de Bullyn en Institutos.</ion-text>
			</ion-col>
		</ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="6" sizeLg="4" >
        <ion-grid >
          <ion-row>
            <ion-col size="4">
              <ion-button [color]="type === 1 ? 'tertiary' : 'primary'" (click)="changeType(1)">
                Admin
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button [color]="type === 2 ? 'tertiary' : 'primary'" (click)="changeType(2)">
                School
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button [color]="type === 3 ? 'tertiary' : 'primary'" (click)="changeType(3)">
                Student
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
		<ion-row class="ion-padding-top">
			<ion-col sizeXs="12" sizeSm="6" sizeLg="4"  class="ion-padding-vertical ion-margin-bottom" >
				<form [formGroup]="loginForm" (ngSubmit)="signIn()">
					<ion-item lines="none" class="ion-no-padding">
						<ion-input  placeholder="Username" type="text"  formControlName="user_name">
						</ion-input>
					</ion-item>
					<div class="errors-container" *ngIf="loginForm.get('user_name')?.invalid && (loginForm.get('user_name')?.dirty || loginForm.get('email')?.touched)">
						<ng-container *ngIf="loginForm.get('user_name')?.errors?.['required']">El Email es requerido</ng-container>
						<ng-container *ngIf="loginForm.get('user_name')?.errors?.['invalidEmail']">El Email es invalido</ng-container>
					</div>
					<ion-item lines="none" class="ion-no-padding">
						<ion-input placeholder="Contraseña" type="password"
							formControlName="password"></ion-input>
					</ion-item>
					<div class="errors-container" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
						<ng-container *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es requerida</ng-container>
						<ng-container *ngIf="loginForm.get('password')?.errors?.['invalidPassword']">{{loginForm.get('password')?.errors?.['message']}}</ng-container>
					</div>

					<ion-button [disabled]="loginForm.invalid" class="action-button" expand="block" fill="solid" color="primary" type="submit">
						<span>Iniciar Sesión - {{ type === 1 ? 'Admin' : type === 2 ? 'School' : 'Student'}}</span>
					</ion-button>
				</form>
			</ion-col>
		</ion-row>

	</ion-grid>
</ion-content>
