<ion-header>
  <ion-toolbar>
    <ion-title>{{ encuesta.title}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <swiper-container class="swiper-container"  [loop]="false" [allowSlidePrev]="false" [slidesPerView]="1" >
    <swiper-slide *ngFor="let question of preguntas">
      <ion-card>
        <ion-card-header>
          <!-- <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle> -->
          <ion-card-title>{{question.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>



          <ion-list [formGroup]="formAnswer" >
            <ion-radio-group
            formControlName="answer">
              <ion-item *ngFor="let answer of question.answers">
                <ion-label>{{ answer.result }}</ion-label>
                <ion-radio [value]="answer"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-button [disabled]="formAnswer.invalid"  (click)="nextSave()" color="dark" class="ion-no-padding">
              &nbsp;guardar respuesta&nbsp;
            </ion-button>

          </ion-list>


        </ion-card-content>
      </ion-card>
    </swiper-slide>

    <!-- <div class="swiper-button-next"></div> -->

  </swiper-container>


  </ion-content>

