.video-sty{
  border-radius: 10px;
}

ion-card {
  border-radius: 10px;
  padding: 20px !important;
}

.blue_to_pink {
  background: linear-gradient(90deg, #4f99fc 0%, #f48b90 100%);
}
.desc-card {
text-align: justify;
}
