<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Usuarios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="start" name="power"></ion-icon>
        Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="addUser()">
    <ion-icon slot="start" name="add"></ion-icon>
    Nuevo Usuario
  </ion-button>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar
        (ionChange)="onSearchChange($event)"
          placeholder="Buscar usuario"
          mode="ios"
          [debounce]="300"
          ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>

    <ion-item *ngFor="let us of copyusuarios">
      <ion-label>
        <!-- <ion-chip color="primary" mode="md" outline="true">
          <ion-label>{{us.roles[0]}}</ion-label>
        </ion-chip> -->
        <b>{{us.user_name}}</b></ion-label>
      <ion-button (click)="remove(us.id)" fill="clear">
        <ion-icon  slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="'/home/admin/add/' + us.id" fill="clear" >
        <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item *ngIf="!copyusuarios.length" class="ion-text-center">
      <ion-label>No hay usuarios</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
